{% extends "layout.html" %}
{{ super() }}

{% block navigation %}
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container px-5">
          <a class="navbar-brand" href="/home"
            ><span class="fw-bolder text-primary">Friend Safe</span></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="resume.html">Alert Friends</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Friends</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">View Friends</a></li>
                    <li><a class="dropdown-item" href="#">Manage Friends</a></li>
                  </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Profile</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">View Profile</a></li>
                    <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                  </ul>
            </li>

            </ul>
          </div>
        </div>
      </nav>
{% endblock %}



{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-danger" role="alert">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div>

</div>
     <div class="form-floating mb-3">
    <form id="SearchUser" method="POST">
          <div class="form-floating mb-3">
                            {{form.username(class="form-control", id="username", type="text") }}
                            {{form.username.label() }}
          </div>
           <div class="form-floating mb-3"><button class="btn btn-primary btn-sm" id="submitButton" type="submit">Search</button></div>


      </form>
</div>




      </div>

      </div>





{% endblock %}
